<div class="product-card">
  <div class="product-card__image">
    <img class="product-card__image-item" src="assets/images/{{product.filename}}">
  </div>
  <div class="product-card__content">
    <div class="product-card__info">
      <div class="product-card__info-name">
        {{product.title}}
      </div>
      <div class="product-card__info-price">
        {{product.price | currency: 'INR'}}
      </div>
    </div>
    <div class="product-card__button"
        (click)="_cartButtonClick()"
    >
      <img class="product-card__button-selected" 
            *ngIf="product.isAddedToCart"
            src="assets/icons/tick.svg">
      <span>{{product.isAddedToCart ?  'Go to cart' : 'Add to cart'}}</span>
    </div>
  </div>
</div>
<div class="product-wishlist"></div>
